*~
*#
*.swp

*.DS_Store
intelliflow_core.log
rheoceros_core.log
*.iml

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
*.coverage
/test/.coverage
/.cache
/.pytest_cache
/.mypy_cache
/.idea
/.venv
*.ipynb

/doc/_apidoc/
/build
/test_integration/build
/venv
