# RELEASE configuration: use this to update your venv before releases to cloud or for more stable integ-test runs.
# These will be picked up during bundle creation (deployments to cloud during application activation).
#
# These are the direct dependencies of RheocerOS runtime.
# Maintain the list of packages that will form the deployable runtime bundle stripped of development
# time auxiliary dependencies (testing, visualization, etc).
#
# If RheocerOS DeploymentConfiguration::requirements or DeploymentConfiguration::dependencies_path is not
# defined, then 'requirements.txt' is picked up as the runtime dependencies by default. Bundle created
# from these packages will be deployed to remote cloud resources.
#
# For testing and development, it is advised that you maintain a different requirements test to keep
# local only packages from getting deployed to compute environments.
#
# How to create the virtualenv:
# - Create a virtualenv using these dependencies. Use "./venv" as the library root. Or use DependencyConfiguration
# module in your code to specify your dependencies folder.
# - let your IDE (e.g PyCharm) create the virtualenv (./venv) for you.
#
# These versions are from our dependency graph that uses python_version=3.7 (on linux, win32 and darwin)
# If you are using a different python_version, please contribute to these file using the following format
#   SomeProject==5.4 ; python_version==3.7
#   SomeProject      ; sys_platform=='win32'

boto3~=1.26.57
botocore~=1.29.58
setuptools~=65.5.1
python-dateutil~=2.8.2
dill~=0.3.4
packaging~=21.3
