# This are the direct dependencies of RheocerOS runtime.
# Maintain the list of packages that will form the deployable runtime bundle stripped of development
# time auxiliary dependencies (testing, visualization, etc).
#
# If RheocerOS DeploymentConfiguration::requirements or DeploymentConfiguration::dependencies_path is not
# defined, then 'requirements.txt' is picked up as the runtime dependencies by default. Bundle created
# from these packages will be deployed to remote cloud resources.
#
# For testing and development, it is advised that you maintain a different requirements test to keep
# local only packages from getting deployed to compute environments.
# ---
# Easiest way to install this:
#
#  pip install -U -r requirements.txt
#
# Or let your IDE (e.g PyCharm) install these automatically
#
# These versions are from our dependency graph that uses python_version=3.7 (on linux, win32 and darwin)
# If you are using a different python_version, please contribute to these file using the following format
#   SomeProject==5.4 ; python_version==3.7
#   SomeProject      ; sys_platform=='win32'

boto3~=1.21.7
setuptools~=57.4.0
python-dateutil~=2.8.2
dill~=0.3.4
packaging~=21.3
